{% extends "base.html" %}

{% block content %}

<div>
    <div class="col-auto">
        <a href="{{ url_for('movie.dashboard') }}">Dashboard</a>
    </div>
    <div class="table-responsive">

    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            {% for header in data.headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for file_info in data.files %}
        <tr>
            {% for field in file_info %}
            <td>{{ file_info[field] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}